:host {
  height: 100%;
  background-color: var(--color-background-primary);

  .lesson-canceled {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .lesson-canceled-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    padding-bottom: 120px;
  }

  .lesson-date {
    font: var(--font-alumi-48-black);
  }

  .student {
    padding: var(--spacing-40) 0;
  }
}