<div class="record-student">
  <div class="container">
    <cp-header-secondary
        [title]="'record.student-title' | translate"
        (close)="recordStudentFacade.goToSchedule()"
    ></cp-header-secondary>

    <div class="time">{{recordStudentFacade.scheduleListStore.currentTime()}}</div>
    <div class="search-wrap">
      <ion-input
          class="search-item"
          fill="solid"
          type="text"
          [placeholder]="'common.search' | translate"
          [value]="searchUser()"
          (ionInput)="recordStudentFacade.searchUser($any($event).detail.value)"
      ></ion-input>
    </div>
  </div>

  <ion-content class="student-list">
    <div class="container">
      @for (student of recordStudentFacade.studentsList(); track student.id) {
        <cp-user-item
            class="record-student-item"
            [disabled]="(student.purchases ?? []).length < 1"
            [user]="student"
            [isSelect]="student.id === activeStudent()"
            (openUser)="selectStudent($event, student)"
        ></cp-user-item>
      } @empty {
        <cp-empty-state></cp-empty-state>
      }
    </div>
  </ion-content>

  <div class="btn-wrap container">
    <ion-button [disabled]="!activeStudent()" (click)="recordStudentFacade.recordStudent()">{{ "schedule.btn-planing-lesson" | translate }}</ion-button>
  </div>
</div>

