:host {
  display: block;
  background-color: var(--color-background-primary);

  .record-student {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100dvh;
  }

  .time {
    font: var(--font-open-16-regular);
    padding: var(--spacing-16) 0;
  }

  .search-wrap {
    padding-bottom: 10px;
  }

  .search-item {
    ::ng-deep {
      .input-wrapper {
        border-bottom: 1px solid var(--color-border-primary);
        --border-color: var(--color-border-primary);
      }
    }
  }

  .student-list {
    flex: 1 1 auto;
    overflow: auto;

    .container {
      height: 100%;
    }
  }

  .record-student-item {
    margin-bottom: var(--spacing-16);
  }

  .btn-wrap {
    padding: var(--spacing-20);
  }
}