:host {
  background-color: var(--color-background-primary);
  display: block;

  .student {
    position: relative;
    height: 100%;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .student-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('/assets/img/student-bg.png');
    background-size: cover;
    background-position: 60% center;
    background-repeat: no-repeat;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--color-background-primary);
      opacity: 0.56;
    }
  }

  .teacher-wrap {
    padding-top: var(--spacing-20);
    padding-bottom: var(--spacing-24);
  }

  .teacher {
    align-items: center;
    background-color: var(--color-background-primary);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    gap: var(--spacing-16);
    padding: var(--spacing-16);
  }

  .teacher-icon {
    align-items: center;
    background-color: var(--color-btn-bg-primary);
    color: var(--color-text-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
  }

  .icon-plus {
    display: inline-flex;
  }

  .lessons {
    flex: 1 1 auto;
    padding-top: var(--spacing-24);
  }

  .week-title {
    font: var(--font-alumi-20-black);
    padding-bottom: var(--spacing-8);
  }


  .teacher-lessons {
    ::ng-deep {
      .user {
        background-color: var(--color-background-primary);
        border-color: var(--color-background-primary);
      }

      .avatar {
        border-color: rgba(var(--color-border-secondary-rgb), 0.56);
        cursor: default;
      }

      .user-description {
        cursor: default;
      }
    }
  }

  .teacher-info {
    font: var(--font-alumi-24-bold);
  }

  .amount-lessons {
    color: var(--color-text-primary);
    opacity: 0.56;
    font: var(--font-open-13-regular);
  }

  .record-lesson {
    align-items: center;
    background-color: var(--color-background-primary);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    color: var(--color-text-primary);
    padding-left: var(--spacing-16);
    margin-bottom: var(--spacing-8);
  }

  .date {
    font: var(--font-open-12-regular);
  }

  .action {
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    height: 40px;
    width: 40px;
  }

  .action-icon {
    display: inline-flex;
  }

  .teacher-lessons {
    margin-bottom: var(--spacing-8);
  }

  .myself {
    align-items: center;
    background-color: var(--color-background-primary);
    border-radius: 8px;
    display: flex;
    padding: 0 var(--spacing-24);
    height: 40px;
    font: var(--font-alumi-16-black);
    margin-bottom: var(--spacing-8);
  }

  .btn-wrap {
    padding: var(--spacing-16) 0 var(--spacing-20);
  }

  .btn-planing {
    --ion-color-primary: var(--color-btn-bg-secondary);
    --ion-color-primary-contrast: var(--color-btn-secondary-text);
  }
}