:host {
  .notifications-wrap {
    padding-top: var(--spacing-24);
    padding-bottom: var(--cp-safe-area-bottom);
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .notifications {
    display: flex;
    flex-direction: column;

    &:first-child {
      border-top: 1px solid var(--color-border-primary);
    }
  }
}