:host {
  background-color: var(--color-background-primary);
  display: block;
  padding-bottom: var(--cp-safe-area-bottom);
  height: 100%;

  .user-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    min-height: 100dvh;
  }

  .user-list-header {
    padding-left: var(--spacing-20);
    padding-right: var(--spacing-20);
  }

  .search-wrap {
    background-color: var(--color-background-primary);
    padding-bottom: 10px;
    font: var(--font-open-16-regular);

    .search {
      --min-height: 32px  !important;
      height: 32px  !important;

      ::ng-deep {
        ion-input {
          --padding-top: 0px;
          --padding-bottom: 6px;

          --min-height: 28px !important;
          min-height: 28px !important;
          height: 28px;
        }

        .input-wrapper {
          border-bottom: 1px solid var(--color-border-primary);
          --border-color: var(--color-border-primary);
        }
      }
    }
  }

  .month-tabs {
    padding-left: var(--spacing-20);
    padding-top: var(--spacing-24);
    padding-bottom: var(--spacing-20);

    ::ng-deep {
      ion-segment {
        justify-content: flex-start !important;
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .empty-state {
    flex: 1 1 auto;
  }

  .user-list-wrap {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
  }

  .user-item {
    display: flex;
    gap: 24px;
    padding-bottom: var(--spacing-16);
    width: 100%;
  }

  .logo {
    height: 64px;
    width: 64px;
  }

  .creative-name {
    font: var(--font-alumi-32-black);
  }

  .name {
    font: var(--font-open-16-regular)
  }

  .tickets {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .teacher-name {
    font: var(--font-open-16-regular)
  }

  .buttons {
    padding: var(--spacing-20);
  }
}