<div class="user-wrap">
  <div class="user-list-header container">
    <cp-header-mobile
        [profile]="profile()"
        [activeRole]="userListFacade.activeRole()!"
        [activeMenu]="userListFacade.currentTab()"
        [amountStudents]="amountStudents()"
        (selectMenu)="menuChange($event)"
        (goToProfile)="userListFacade.goToSettings()"
    ></cp-header-mobile>
    @if (activeMenu() === eHeaderMenu.Student) {
      <div class="search-wrap">
        <ion-item class="search">
          <ion-input
              fill="solid"
              type="text"
              autocomplete="one-time-code"
              autocorrect="off"
              [placeholder]="'common.search' | translate"
              [value]="searchUser()"
              (ionInput)="userListFacade.searchUser($any($event).detail.value)"
          ></ion-input>
        </ion-item>
      </div>
    }
  </div>

  <div class="user-list-wrap">
    @if (activeMenu() !== eHeaderMenu.Schedule) {
      @if (userListFacade.userList().length > 0 && activeMenu() !== eHeaderMenu.Schedule) {

        <ion-content class="user-list">
          <div class="user-list-content container">
            @for (user of userListFacade.userList(); track user.id) {
              <cp-user-item
                  class="user-item"
                  [user]="user"
                  [showTeacher]="userListFacade.activeRole() !== eUserRole.Teacher"
                  [withAdditionalInfo]="true"
                  (openUser)="userListFacade.goToUser(user.id, this.activeMenu())"
              >
              </cp-user-item>
            }
          </div>

          @if (activeMenu() === eHeaderMenu.Student) {
<!--            <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">-->
<!--              <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>-->
<!--            </ion-infinite-scroll>-->
          }
        </ion-content>
      } @else {
        <cp-empty-state class="empty-state"></cp-empty-state>
      }
    } @else {
      <cp-schedule-list></cp-schedule-list>
    }
    <cp-loader [isLoad]="!isReady()"></cp-loader>
<!--    <cp-loader [isLoad]="userListFacade.isReadyStudent()"></cp-loader>-->
  </div>

  @if (!(userListFacade.activeRole() === eUserRole.Admin && activeMenu() === eHeaderMenu.Admin)) {
    <div class="buttons container">
      <ion-button (click)="userListFacade.create(activeMenu())">{{ this.USER_ACTIONS_BTN[activeMenu()] | translate }}</ion-button>
    </div>
  }
</div>



