:host {
  background-color: var(--color-background-primary);
  display: block;
  padding-bottom: calc(var(--spacing-20) + var(--cp-safe-area-bottom));
  height: 100%;

  .user-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
  }

  .user-list-header {
    padding-left: var(--spacing-20);
    padding-right: var(--spacing-20);
  }

  .owner-tabs {
    padding: var(--spacing-40) var(--spacing-20) 0;

    ::ng-deep {
      ion-segment {
        justify-content: flex-start !important;
      }
    }
  }

  .month-tabs {
    padding-left: var(--spacing-20);
    padding-top: var(--spacing-24);
    padding-bottom: var(--spacing-20);

    ::ng-deep {
      ion-segment {
        justify-content: flex-start !important;
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .empty-state {
    flex: 1 1 auto;
  }

  .user-list-wrap {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
  }

  .user-item {
    display: flex;
    gap: 24px;
    padding-bottom: var(--spacing-24);
    width: 100%;
  }

  .logo {
    height: 64px;
    width: 64px;
  }

  .creative-name {
    font: var(--font-alumi-32-black);
  }

  .name {
    font: var(--font-open-16-regular)
  }

  .tickets {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .teacher-name {
    font: var(--font-open-16-regular)
  }

  .buttons {
    padding: var(--spacing-20) var(--spacing-20) 0 var(--spacing-20);
  }
}