<div class="calendar">
  <ion-segment
      class="segment btn-fill month"
      [scrollable]="true"
      [value]="scheduleDay()"
      (ionChange)="dayChange($event)"
  >
    @for (day of next2MonthsDays(); track day.date) {
      <ion-segment-button
          class="btn-clear"
          [disabled]="disableEmpty() && activeDays()?.every((date) => date !== day.date)!"
          [class.no-record]="!disableEmpty() && activeDays()?.every((date) => date !== day.date)"
          value="{{day.date}}"
      >
        <ion-label>{{ day.day }} <br> {{ day.number }}</ion-label>
      </ion-segment-button>
    }
  </ion-segment>
</div>