<div class="lesson-canceled container">
  <cp-header-secondary class="lesson-canceled-header"  [title]="' '" (close)="lessonsFacade.exitFromCanselSuccess()"></cp-header-secondary>

  <div class="lesson-canceled-info">
    <div class="lesson-canceled-icon" [innerHTML]="TRANSFERRED_LESSON_SVG"></div>
    <div class="lesson-title">{{ "schedule.lesson-transferring" | translate }}</div>
    <div class="student">
      @if (lessonsFacade.lessonsStore.currentUser()!) {
        <cp-record-student-item [student]="lessonsFacade.lessonsStore.currentUser()!" [withAmountLesson]="false"></cp-record-student-item>
      }
    </div>

    <div class="lesson-date">{{lessonsFacade.lessonsStore.currentDateTime()!}}</div>
  </div>
  <div class="btn-wrap">
    <ion-button (click)="lessonsFacade.exitFromCanselSuccess()">{{ "schedule.btn-to-schedule" | translate }}</ion-button>
  </div>
</div>