<div class="lessons-payment container">
  <cp-header-secondary [title]="' '" (close)="marketFacade.closeMarketPage()"></cp-header-secondary>

  <div class="lessons-payment-info">
    @if(marketFacade.currentLessonsType() === eLessonsType.TeacherGuided) {
      <cp-record-student-item
          class="teacher-payment"
          [student]="marketFacade.selectedTeacher()"
          [withAmountLesson]="false"
      ></cp-record-student-item>
    } @else {
      <div class="individual-lessons-title">{{"schedule.myself" | translate}}</div>
    }

    <div class="description">{{currentDescription() | translate}}</div>

    <div class="amount-wrap">
      <div class="increment" [innerHTML]="MINUS_SVG" (click)="increment()"></div>
      <div class="amount">{{amount()}}</div>
      <div class="decrement" [innerHTML]="PLUS_SVG" (click)="decrement()"></div>
    </div>

    <div class="btn-wrap">
      <ion-button (click)="purchase()">{{"market.buy-for-price" | translate: {price: totalPrice()} }}</ion-button>
    </div>
  </div>

</div>
