<div class="schedule">
  <div class="container">
    <cp-header-secondary
        class="schedule-header-teacher"
        [title]="'schedule.times' | translate"
        (close)="closeSettingSchedule()"
    ></cp-header-secondary>

    <ion-segment
        class="segment teacher btn-clear"
        [value]="scheduleType()"
        (ionChange)="scheduleTypeChange($event)"
    >
      @for (type of SCHEDULE_TYPE_TABS; track type.value) {
        <ion-segment-button class="btn-clear" [value]="type.value">
          <ion-label>{{ type.title | translate }}</ion-label>
        </ion-segment-button>
      }
    </ion-segment>

    @if (scheduleType() === eScheduleType.Weekly) {
      <div class="week-wrap">
        <ion-segment
            class="segment btn-fill week"
            [value]="activeDay()"
            (ionChange)="selectWeekDay($event)"
        >
          @for (day of WEEK_SHORT_LIST; track day.value) {
            <ion-segment-button class="btn-clear" [value]="day.value">
              <ion-label>{{ day.title }}</ion-label>
            </ion-segment-button>
          }
        </ion-segment>
      </div>
    }
  </div>

  @if(scheduleType() === eScheduleType.OneTime) {
    <div class="schedule-calendar container-large">
      <cp-calendar
          [activeDays]="recordedDays()"
          [isDirty]="isDirty()"
          (selectDay)="selectDay($event)"
      ></cp-calendar>
    </div>
  }

  <div class="time-list-wrap">
    <div class="container">
      <cp-time-list
          class="schedule-time-list"
          [activeSlots]="daySlots()"
          [hasLessons]="scheduleType() === eScheduleType.OneTime ? hasLessonsTime() : []"
          (selectTime)="selectTime($event)"
          (unselectTime)="unselectTime($event)"
      ></cp-time-list>
    </div>
  </div>

  <div class="buttons container">
    <ion-button (click)="save()">{{ "common.save" | translate }}</ion-button>
  </div>

  <ion-modal
      #confirmChangeModal
      [initialBreakpoint]="initialBreakpoint"
      [breakpoints]="modalBreakpoints"
  >
    <ng-template>
      <cp-confirm-modal
          [title]="'common.confirm-change-title' | translate"
          [btnConfirm]="'common.save' | translate"
          [btnCansel]="'common.not-save' | translate"
          (cansel)="canselSlotChange()"
          (confirm)="confirmSlotChange()"
      ></cp-confirm-modal>
    </ng-template>
  </ion-modal>
</div>