<div class="payment-success container">
  <cp-header-secondary class="payment-success-header"  [title]="' '" (close)="marketFacade.closeMarketPage()"></cp-header-secondary>

  <div class="payment-success-info">
    <div class="title">{{"market.payment-success-title" | translate}}</div>

    @if (successData().plan.type === mMarketPlanType.Single) {
      <div class="description">{{"market.payment-success-description-single" | translate: {
          quantity: successData().quantity,
          price: marketFacade.addFreeLessons() ? 0 :successData().price_paid
        }
      }}</div>
    }

    @if (successData().plan.type === mMarketPlanType.Subscription) {
      <div class="description">{{"market.payment-success-description-abonnement" | translate: {
        quantity: successData().quantity,
        price: marketFacade.addFreeLessons() ? 0 : successData().price_paid
      }
        }}</div>
    }

    @if (successData().teacher) {
      <div class="student">
        <cp-record-student-item
            class="teacher-payment"
            [student]="successData().teacher"
            [withAmountLesson]="false"
        ></cp-record-student-item>
      </div>
    }

    <div class="btn-wrap">
      <ion-button (click)="marketFacade.goToStudentMain()">{{"market.payment-success-btn" | translate}}</ion-button>
    </div>
  </div>
</div>