<div class="payment-success container">
  <cp-header-secondary class="payment-success-header"  [title]="' '" (close)="marketFacade.goToStudentMain()"></cp-header-secondary>

  <div class="payment-success-info">
    <div class="title">{{"market.payment-success-title" | translate}}</div>
    <div class="description">{{"market.payment-success-description" | translate}}</div>
    <div class="student">
      <cp-record-student-item
          class="teacher-payment"
          [student]="marketFacade.selectedTeacher"
          [withAmountLesson]="false"
      ></cp-record-student-item>
    </div>
    <div class="btn-wrap">
      <ion-button (click)="marketFacade.goToStudentMain()">{{"market.payment-success-btn" | translate}}</ion-button>
    </div>
  </div>
</div>