<ion-content>
  <div class="login">
    <div class="back-container">
      <div class="back-wrap container">
        <div class="back" [innerHTML]="BACK_SVG" (click)="goBack()"></div>
      </div>
    </div>

    <div class="logo-wrap">
      <div class="logo" [innerHTML]="LOGO_SVG"></div>
    </div>

    <div class="login-container container">
      <ion-item>
        <ion-input
            fill="solid"
            class="name"
            type="email"
            [maxlength]="64"
            [helperText]="' '"
            [value]="email()"
            [errorText]="forgotPasswordFailure() ?? '' | translate"
            [placeholder]="'Email'"
            [class.ion-touched]="!!forgotPasswordFailure()"
            [class.ion-invalid]="!!forgotPasswordFailure()"
            (ionInput)="changeEmail($event.detail.value ?? '')"
        ></ion-input>
      </ion-item>

      <ion-button class="send" (click)="send()">{{ "login.continue" | translate }}</ion-button>
    </div>
  </div>
</ion-content>