:host {
  display: block;
  width: 100%;

  .user {
    border: 1px solid var(--color-border-primary);
    border-radius: 8px;
    padding: var(--spacing-8) var(--spacing-16);
    width: 100%;

    &.disabled {
      pointer-events: none;
      border-color: var(--color-disabled);
      color: var(--color-disabled);

      ::ng-deep {
        cp-avatar {
          .avatar {
            border-color: var(--color-disabled);
          }
        }
      }
    }
  }

  .user-wrap {
    gap: var(--spacing-16);
    align-items: center;
    display: flex;
    min-height: 50px;
  }

  .user-description {
    cursor: pointer;
    gap: var(--spacing-16);
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    min-width: 0
  }

  .time-lesson {
    font: var(--font-alumi-32-regular);
    flex: 0 0 auto;
  }

  .time-lesson-item {
    font: var(--font-open-12-regular);
  }

  .avatar-stack {
    display: flex;
    justify-content: flex-end;

    cp-avatar {
      margin-left: -20px;
      position: relative;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          z-index: #{10 - $i};
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .avatar {
    height: 50px;
    width: 50px;
    flex: 0 0 50px;
  }

  .teacher-avatar-wrp {
    height: 50px;

    .teacher-avatar {
      display: block;
      width: 24px;
      height: 24px;

      ::ng-deep {
        svg {
          width: 12px;
        }
      }
    }
  }


  .user-info {
    flex: 1 1 auto;
    min-width: 0;
  }

  .creative-name {
    font: var(--font-alumi-20-black);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .name {
    font: var(--font-open-13-regular);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .user-teachers {
    display: flex;
    gap: 4px;
    min-height: 40px;
  }


  .user-teachers-avatar {
    width: 24px;
    height: 24px;

    ::ng-deep {
      svg {
        height: 12px;
        width: 12px;
      }
    }
  }

  .user-acton {
    flex-shrink: 0
  }

  .add-user {
    display: flex;
    align-items: center;
    font: var(--font-open-16-regular);
  }

  .open-student-info,
  .delete,
  .dots {
    cursor: pointer;
    padding-left: var(--spacing-8);
    height: 40px;
  }

  .dots-wrap {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .dots,
  .delete {
    display: flex;
    align-items: center;
  }

  .open-student-info {
    .open-student-info-icon {
      display: inline-flex;
    }

    &.open {
      .open-student-info-icon {
        transform: rotate(180deg);
      }
    }
  }

  .student-info {
    cursor: pointer;
    flex: 1 1 100%;
    padding-top: var(--spacing-8);
    min-width: 0;
  }

  .student-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: var(--font-open-12-regular);
    gap: var(--spacing-8);
    padding-bottom: var(--spacing-8);
  }

  .student-info-teacher {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .student-info-lessons {
    white-space: nowrap;
  }
}