<div class="user" [class.disabled]="disabled()">
  <div class="user-wrap">
    <div class="user-description" (click)="openUser.emit(user()?.id!)">
      @if (timeLesson()) {
        <div class="time-lesson">{{timeLesson()?.from}} - {{timeLesson()?.to}}</div>
      }

      @if (user()) {
        <cp-avatar class="avatar" [src]="user()?.avatar ?? ''"></cp-avatar>
      }
      <div class="user-info">
        @if (user()) {
          <div class="creative-name">{{creativeName()}}</div>
          <div class="name">{{fullName()}}</div>
        } @else {
          <div class="add-user">+ {{(timeLesson() ? "users.add-student-btn" : "users.add-teacher-btn") | translate}}</div>
        }
      </div>
    </div>

    @if (!hideAllActions()) {
      <div class="user-acton">
        @if (isSelect()) {
          <div class="" [innerHTML]="CHECK_THIN_SVG"></div>
        }

<!--        @if (withAdditionalInfo()) {-->
<!--          <div class="open-student-info"-->
<!--               [class.open]="additionalInfoToggle()"-->
<!--               (click)="additionalInfoToggle.set(!additionalInfoToggle())"-->
<!--          >-->
<!--            <div class="open-student-info-icon" [innerHTML]="ARROW_SVG"></div>-->
<!--          </div>-->
<!--        }-->

        @if (showDelete()) {
          <div class="delete"
               [innerHTML]="CLOSE_SVG"
               (click)="delete.emit(user()?.id)"
          ></div>
        }

        @if (timeLesson() && user()?.role === EUserRole.Student && (!withTeacher() || !showTeacher())) {
          <div
              class="dots"
              [innerHTML]="DOTS_SVG"
              (click)="dotsEvent.emit(user()?.id)"
          ></div>
        }

        @if (withTeacher() && showTeacher()) {
          <div class="teacher-avatar-wrp">
            <cp-avatar class="avatar teacher-avatar" [src]="withTeacher()?.avatar ?? ''"></cp-avatar>
          </div>
        }
      </div>
    }
  </div>

  @if (additionalInfoToggle() && user()?.purchases?.length! > 0) {
    <div class="student-info"  (click)="openUser.emit(user()?.id!)">
      @for (purchase of user()?.purchases; track purchase.id) {
        <div class="student-info-item">
          @if (purchase.teacher) {
            <div class="student-info-teacher">{{purchase.teacher.first_name}} {{purchase.teacher.last_name}}</div>
          } @else {
            <div class="student-info-teacher">{{ 'market.self-study' | translate}}</div>
          }
          <div class="student-info-lessons">{{purchase.lessons_remaining}}
            @if (purchase.teacher) {
              {{"lessons.type.lesson" | translate}}
            } @else {
              {{"lessons.type.independent" | translate }}
            }

            @if (purchase.expires_at) {
              {{ "common.to" | translate}} {{ purchase.expires_at | date:'dd.MM'}}
            }
          </div>
        </div>
      }
    </div>
  }
  <ng-content />
</div>

