<div class="schedule-list">
  @if (isNotificationsCount()) {
    <div class="container">
      <div class="notifications" (click)="scheduleFacade.goToNotifications()">
        <div class="notification booked">
          {{ scheduleFacade.notificationsCount()?.book_count! }} {{scheduleFacade.notificationsCount()?.book_count! | translatePlural: 'notification.booked'}}
        </div>
        <div class="notification cancelled">
          {{ scheduleFacade.notificationsCount()?.cancel_count! }} {{scheduleFacade.notificationsCount()?.cancel_count! | translatePlural: 'notification.cancelled'}}
        </div>
        <div class="notification rescheduled">
          {{ scheduleFacade.notificationsCount()?.reschedule_count! }} {{scheduleFacade.notificationsCount()?.reschedule_count! | translatePlural: 'notification.rescheduled'}}
        </div>
      </div>
    </div>
  }

  <div class="schedule-list-calendar container-large">
    <cp-calendar
        [activeDays]="recordedDays()"
        [scheduleDay]="activeDate()"
        (selectDay)="selectDay($event)"
    ></cp-calendar>
  </div>

  <div class="days-list schedule-list-wrap" #daysList>
    <div class="container">
      @for (day of scheduleFacade.scheduleByDate(); track day.date) {
        <div class="day-item" [id]="day.date" #dayItem>
          <div class="title day-section" >{{day.date | dayTitle}}</div>

          @for (slot of day.slots; track slot.id) {
            <div class="schedule-time-list">
              <cp-user-item
                  class="time"
                  [timeLesson]="slot.time"
                  [user]="slot.lesson?.student"
                  [showTeacher]="!scheduleFacade.isTeacher()"
                  [withTeacher]="slot.teacher"
                  (openUser)="scheduleFacade.selectTime($event, day.date, slot.time, slot.id)"
                  (dotsEvent)="scheduleFacade.goToTransferringLesson(slot.lesson?.student!, getDayTitle(day.date, slot.time), slot.lesson.id)"
              ></cp-user-item>
            </div>
          }
        </div>

      } @empty {
        <cp-empty-state></cp-empty-state>
      }
    </div>

    <cp-loader [isLoad]="!scheduleListStore.isLoading()"></cp-loader>
  </div>
</div>

