@use 'src/scss/mixins/_breakpoints.scss' as *;

:host {
  --hedeer-height: 60px;
  --actions-height: 170px;

  .avatar-upload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
  }

  .avatar-upload-header {
    display: block;
    padding: 0 var(--spacing-20);
  }

  .description {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    font: var(--font-open-16-regular);
    text-align: center;
  }

  .cropper-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 calc(100% - (var(--hedeer-height) + var(--cp-safe-area-top)));
    max-height: calc(100% - (var(--hedeer-height) + var(--cp-safe-area-top)));

    @include desktop {
      max-height: calc(100% - var(--hedeer-height));
    }
  }

  .cropper {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding: 0 var(--spacing-20);
    max-height: calc(100% - var(--actions-height));

    @include desktop {
      max-height: calc(100% - var(--actions-height));
    }
  }

  image-cropper {
    padding: 0;
    width: 100%;

    @include desktop {
      max-height: 370px;
    }
  }

  .avatar-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    padding-bottom: var(--cp-safe-area-bottom);
  }

  .actions {
    padding: var(--spacing-20);
    width: 100%;
  }

  .another-photo {
    font: var(--font-open-16-regular);
    color: var(--color-text-primary);
    flex: 1 1 auto;
    margin: var(--spacing-8) 0 var(--spacing-24);
    text-align: center;
    cursor: pointer;
  }

  .error {
    font: var(--font-open-13-regular);
    padding: var(--spacing-16);
  }
}