<div class="avatar-upload">
  <cp-header-secondary
      class="avatar-upload-header"
      [title]="'profile.photo.title' | translate"
      (close)="closeModal()"
  ></cp-header-secondary>

  @if (!imageFile()) {
    <div class="avatar-info">
      <div class="description" [innerHTML]="'profile.photo.validation-info' | translate "></div>
      <div class="actions">
        <ion-button fill="outline" (click)="triggerFileInput()">{{"profile.photo.title" | translate}}</ion-button>
      </div>
    </div>
  }

  @if (imageFile()) {
    <div class="cropper-wrap">
      <div class="cropper">
        <image-cropper
            [imageFile]="imageFile()!"
            [maintainAspectRatio]="true"
            [aspectRatio]="1"
            [roundCropper]="true"
            [resizeToWidth]="200"
            format="webp"
            (imageCropped)="onImageCropped($event)"
            (loadImageFailed)="onLoadImageFailed()"
        />
      </div>

      <div class="actions">
        <div class="another-photo" (click)="imageFile.set(null); triggerFileInput()">
          Вибрати інше фото
        </div>
        <ion-button (click)="onConfirm()">
          {{"profile.photo.save" | translate}}
        </ion-button>
      </div>
    </div>
  }

  @if (error()) {
    <p class="error">{{ error() }}</p>
  }

  <input
      #fileInput
      type="file"
      accept="image/jpeg,image/png,image/webp"
      style="display: none"
      (change)="onFileChange($event)"
  />
</div>