:host {
  .head {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--spacing-16) + var(--cp-safe-area-top)) 0 var(--spacing-8);

    &.back-header {
      justify-content: flex-start;
      align-items: center;
    }
  }

  .back {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: var(--spacing-8) var(--spacing-16) var(--spacing-8) 0;

    ::ng-deep {
      svg {
        display: block;
      }
    }
  }

  .title {
    font: var(--font-alumi-32-black);
    text-transform: uppercase;
  }
}