<div class="profile">
  @if (profileFacade.profile(); as profile) {

    <div class="container">
      <cp-header-secondary
          class="profile-header"
          [isBack]="true"
          [title]="'profile.title' | translate"
          (back)="profileFacade.goToBack()"
      ></cp-header-secondary>
    </div>

    <div class="profile-wrap">
      <ion-content>
        <div class="container">
          <div class="avatar-title">{{ "profile.add-avatar" | translate }}</div>

          <div class="avatar-wrap">
            @if (profile.avatar) {
              <div class="event-avatar add-avatar" (click)="onPickPhoto()">
                <ion-img class="add-avatar-icon" [src]="profile.avatar" alt=" "></ion-img>
              </div>

              <div class="event-avatar delete-avatar" (click)="profileFacade.deleteAvatar()">
                <div class="delete-avatar-icon icon" [innerHTML]="DELETE_SVG"></div>
              </div>
            } @else {
              <div class="event-avatar add-avatar" (click)="onPickPhoto()">
                <div class="delete-avatar-icon icon" [innerHTML]="PLUS_SVG"></div>
              </div>
            }
          </div>

          <form class="form" [formRoot]="userForm">
            <ion-list lines="none">
              <ion-item>
                <ion-input
                    fill="solid"
                    type="email"
                    placeholder="Email"
                    [value]="userForm.email().value()"
                    [helperText]="' '"
                    [errorText]="userForm.email().errors()[0]?.message ?? ' ' | translate"
                    [class.ion-touched]="isTouched('email')"
                    [class.ion-invalid]="isTouched('email') && userForm.email().invalid()"
                    (ionInput)="userForm.email().value.set($any($event).detail.value)"
                    (ionFocus)="ionFocus('email')"
                    (ionBlur)="ionBlur('email')"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                    fill="solid"
                    type="text"
                    [placeholder]="'profile.creative-name' | translate"
                    [value]="userForm.creative_name().value()"
                    [errorText]="userForm.creative_name().errors()[0]?.message ?? ' ' | translate"
                    [class.ion-touched]="isTouched('creative_name')"
                    [class.ion-invalid]="isTouched('creative_name') && userForm.creative_name().invalid()"
                    (ionInput)="userForm.creative_name().value.set($any($event).detail.value)"
                    (ionFocus)="ionFocus('creative_name')"
                    (ionBlur)="ionBlur('creative_name')"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                    fill="solid"
                    type="text"
                    [placeholder]="'profile.first-name' | translate"
                    [value]="userForm.first_name().value()"
                    [errorText]="userForm.first_name().errors()[0]?.message ?? ' ' | translate"
                    [class.ion-touched]="isTouched('first_name')"
                    [class.ion-invalid]="isTouched('first_name') && userForm.first_name().invalid()"
                    (ionInput)="userForm.first_name().value.set($any($event).detail.value)"
                    (ionFocus)="ionFocus('first_name')"
                    (ionBlur)="ionBlur('first_name')"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                    fill="solid"
                    type="text"
                    [placeholder]="'profile.last-name' | translate"
                    [value]="userForm.last_name().value()"
                    [errorText]="userForm.last_name().errors()[0]?.message ?? ' ' | translate"
                    [class.ion-touched]="isTouched('last_name')"
                    [class.ion-invalid]="isTouched('last_name') && userForm.last_name().invalid()"
                    (ionInput)="userForm.last_name().value.set($any($event).detail.value)"
                    (ionFocus)="ionFocus('last_name')"
                    (ionBlur)="ionBlur('last_name')"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                    fill="solid"
                    type="tel"
                    inputmode="tel"
                    cpPhoneMask
                    [placeholder]="'profile.phone' | translate"
                    [value]="userForm.phone().value()"
                    [errorText]="userForm.phone().errors()[0]?.message ?? ' ' | translate"
                    [class.ion-touched]="isTouched('phone')"
                    [class.ion-invalid]="isTouched('phone') && userForm.phone().invalid()"
                    (ionInput)="userForm.phone().value.set($any($event).detail.value)"
                    (ionFocus)="ionFocus('phone')"
                    (ionBlur)="ionBlur('phone')"
                ></ion-input>
              </ion-item>
            </ion-list>

            <ion-button class="submit" (click)="onSubmit()">{{ 'common.save' | translate }}</ion-button>
          </form>
        </div>

      </ion-content>
    </div>
  }

<!--  <cp-loader [isLoad]="!profileFacade.isLoading()"></cp-loader>-->
</div>


