<div class="container">
  <cp-header-secondary
      [isBack]="true"
      [title]="'student.pages.history-lessons' | translate"
      (back)="studentFacade.goToSettings(true)"
  ></cp-header-secondary>

</div>
<ion-content class="lessons-wrap">
  <div class="container">
    @for (item of studentFacade.groupPastLessons(); track $index) {
        @for (week of item.week; track week) {
          @for (lesson of week.lessons; track lesson) {
          <div class="lessons-item">
            <div class="record-lesson">
              <div class="date">{{lesson | lessonDateTime}}</div>
            </div>
            @if (week.teacher) {
              <cp-user-item-read class="teacher-lessons" [user]="week.teacher"></cp-user-item-read>
            } @else {
              <cp-individual-lesson  class="individual-lessons-wrap"></cp-individual-lesson>
            }
            </div>
          }
        }
    } @empty {
      <div class="empty">
        <cp-empty-state></cp-empty-state>
      </div>
    }
  </div>
</ion-content>