:host {
  background-color: var(--color-background-primary);

  .lessons-wrap {
    height: 100%;

    .container {
      padding-top: var(--spacing-24);
      padding-bottom: var(--cp-safe-area-bottom);
    }
  }

  .lessons-item {
    border-bottom: 1px solid var(--color-border-primary);
    padding: var(--spacing-24) 0;

    &:first-child {
      border-top: 1px solid var(--color-border-primary);
    }
  }

  .date {
    font: var(--font-open-13-regular);
    padding-bottom: var(--spacing-8);
  }
}