:host {
  background-color: var(--color-background-primary);

  .lessons-wrap {
    height: 100%;
  }

  .lessons-item {
    padding-top: var(--spacing-24);
  }


  .date {
    font: var(--font-open-16-regular);
  }
}