:host {
  background-color: var(--color-background-primary);
  display: block;
  height: 100%;

  .salary-item {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .teacher {
    padding-top: 48px;
  }

  .rates-info {
    padding: var(--spacing-16) 0;
    flex-shrink: 0;
  }

  .rates-info-price-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--spacing-8);

  }

  .rates-info-title {
    font: var(--font-open-16-bold);
    padding-top: var(--spacing-8);
  }

  .rates-info-price-wrap {
    font: var(--font-open-16-regular);
  }


  .month-tabs {
    padding-top: var(--spacing-24);
    flex-shrink: 0;
    max-width: var(--cp-max-with-large);
    width: 100%;
    margin: 0 auto;

    ::ng-deep {
      ion-segment {
        justify-content: flex-start !important;
      }
    }
  }

  .salary-payout {
    padding-top: var(--spacing-8);
    padding-bottom: var(--spacing-20);
    flex: 1 1 auto;
    position: relative;
    --height: 100%;
    display: flex;
    flex-direction: column;
  }

  .salary-payout-info {
    padding-bottom: var(--spacing-20);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;

  }

  .salary-payout-item {
    border: 1px solid var(--color-border-primary);
    border-radius: 8px;
    cursor: pointer;
    padding: var(--spacing-16);
    margin-bottom: 8px;
  }

  .salary-payout-top,
  .salary-payout-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: var(--font-open-13-regular);

    .total {
      text-transform: lowercase;
    }
  }

  .salary-payout-bottom {
    padding-top: 8px;
  }

  .empty {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
