:host {
  .notification-item {
    border-bottom: 1px solid var(--color-border-primary);
    padding: var(--spacing-24) 0;
  }

  .notification-title {
    font: var(--font-open-13-regular);
    align-items: center;
    display: flex;
    gap: var(--spacing-8);

    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-bottom: 1px;
    }

    &.booked,
    &.reminder {
      &:before {
        background-color: var(--color-green);
      }
    }

    &.cancelled {
      &:before {
        background-color: var(--color-red);
      }
    }

    &.rescheduled {
      &:before {
        background-color: var(--color-orange);
      }
    }
  }

  .notification-user {
    padding-top: var(--spacing-16);
  }

  .notification-description {
    padding-top: var(--spacing-16);
    font: var(--font-open-13-regular);
  }

  .notification-buttons {
    padding-top: var(--spacing-16);
  }
}