<div class="student">
  <div class="student-bg" [class.is-empty]="studentFacade.isEmptyInfo()"></div>
  <div class="teacher-wrap container">
    <div class="teacher">
      <div class="teacher-icon"  (click)="studentFacade.goToSettings()">
        <cp-avatar class="student-avatar" [src]="studentFacade.profile()?.avatar!"></cp-avatar>
      </div>
      <div class="teacher-info"  (click)="studentFacade.goToSettings()">
        <div class="teacher-name">
          {{name()}}
        </div>
        <div class="amount-lessons">
          {{ studentFacade.amountTeacherLessons() }} {{studentFacade.amountTeacherLessons() | translatePlural: 'lessons.type.lesson'}} {{ "lessons.type.with-teacher" | translate }},
          {{studentFacade.amountIndividualLessons()}} {{studentFacade.amountIndividualLessons() | translatePlural: 'lessons.type.independent'}}
        </div>
      </div>
    </div>
  </div>

  <div class="lessons-wrap">
    <div class="notifications container">
      @for (notification of studentFacade.notificationsUnread(); track notification.id) {
        <cp-notification-for-student
            class="schedule-notification"
            [notification]="notification"
            (read)="studentFacade.readNotification($event)"
            (confirm)="studentFacade.confirmNotification($event)"
            (reject)="studentFacade.rejectNotification($event)"
        ></cp-notification-for-student>
      }
    </div>
    @for (item of studentFacade.groupFutureLessons(); track item) {
      <div class="lessons container">
        <div class="week-title">{{item.label}}</div>

        @for (week of item.week; track week) {
          @if (week.teacher) {
            <cp-user-item-read class="teacher-lessons" [user]="week.teacher"></cp-user-item-read>
          } @else {
            <cp-individual-lesson  class="individual-lessons-wrap"></cp-individual-lesson>
          }

          @for (lesson of week.lessons; track lesson) {
            <div class="record-lesson">
              <div class="date">{{lesson | lessonDateTime}}</div>

              @if (checkActions(lesson)) {
                <div class="action" (click)="studentFacade.goToTransferringLessonType(week.teacher, lesson)">
                  <div class="action-icon" [innerHTML]="DOTS_SVG"></div>
                </div>
              }
            </div>
          }
        }
      </div>
    }
  </div>

  <div class="btn-wrap container">
    <ion-button
        class="btn-planing"
        (click)="studentFacade.planingLesson()"
    >{{ "schedule.btn-planing-lesson" | translate}}</ion-button>
  </div>
</div>
