:host {
  background-color: var(--color-background-primary);
  display: block;

  .student {
    position: relative;
    height: 100%;
    color: var(--color-no-reverse-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--cp-safe-area-top);
    padding-bottom: var(--cp-safe-area-bottom);
  }

  .student-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('/assets/img/student-bg.jpg');
    background-size: cover;
    background-position: 43% center;
    background-repeat: no-repeat;

    &.is-lessons {
      &:after {
        background: var(--color-no-reverse-black);
        opacity: 0.8;
        height: 100%;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(12, 12, 24, 0.9) 0%, rgba(12, 12, 24, 0) 100%);
      height: 240px;
      transition: height 0.1s ease-in-out;
    }
  }

  .teacher {
    cursor: pointer;
    display: flex;
    gap: var(--spacing-16);
    padding: var(--spacing-16) 0;
  }

  .teacher-icon {
    align-items: center;
    color: var(--color-no-reverse-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
  }

  .student-avatar {
    height: 50px;
    width: 50px;

    ::ng-deep {
      .avatar {
        border-color: var(--color-no-reverse-white);
      }
    }
  }

  .lessons-wrap {
    overflow: auto;
    flex: 1 1 auto;
  }

  .lessons {
    padding-top: var(--spacing-24);
  }

  .week-title {
    font: var(--font-alumi-20-black);
    padding-bottom: var(--spacing-8);
  }


  .teacher-lessons {
    margin-bottom: var(--spacing-8);

    ::ng-deep {
      .avatar {
        border: 0;
      }

      .user-read-creative-name {
        font: var(--font-alumi-20-bold);
      }

      .user-read-name {
        font: var(--font-open-13-regular);
      }
    }
  }

  .teacher-info {
    font: var(--font-alumi-24-bold);
    flex: 1 1 auto;
  }

  .amount-lessons {
    color: var(--color-no-reverse-white);
    opacity: 0.56;
    font: var(--font-open-13-regular);
  }

  .record-lesson {
    align-items: center;
    border: 1px solid var(--color-no-reverse-white);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    color: var(--color-no-reverse-white);
    padding-left: var(--spacing-16);
    margin-bottom: var(--spacing-8);
    min-height: 40px;
  }

  .individual-lesson {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
    margin-top: var(--spacing-24);
    margin-bottom: var(--spacing-16);
  }

  .individual-avatar {
    height: 50px;
    width: 50px;

    ::ng-deep {
      .avatar {
        border: 0;
      }
    }
  }

  .individual-lesson-title {
    font: var(--font-alumi-20-bold);
  }

  .individual-lesson-description {
    font: var(--font-open-13-regular);
  }

  .date {
    font: var(--font-open-12-regular);
  }

  .action {
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    height: 40px;
    width: 40px;
  }

  .action-icon {
    display: inline-flex;
  }

  .myself {
    align-items: center;
    background-color: var(--color-no-reverse-black);
    border-radius: 8px;
    display: flex;
    padding: 0 var(--spacing-24);
    height: 40px;
    font: var(--font-alumi-16-black);
    margin-bottom: var(--spacing-8);
  }

  .btn-wrap {
    padding-top: var(--spacing-20);
    padding-bottom: var(--spacing-20);
  }

  .btn-planing {
    --ion-color-primary: var(--color-no-reverse-black);
    --ion-color-primary-contrast: var(--color-no-reverse-white);
    border: 1px solid var(--color-no-reverse-white);
    border-radius: 8px;
  }
}