:host {
  .close {
    cursor: pointer;
    padding: 0 0 var(--spacing-16) var(--spacing-16);
    //width: 24px;
  }

  .close-ion {
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
  }
}