:host {
  display: block;
  width: 100%;

  .time {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
    cursor: pointer;
    border: 1px solid var(--color-border-primary);
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 13 / 9;

    &.active {
      color: var(--color-text-secondary);
      background-color: var(--color-background-secondary);
    }

    &.disabled {
      border-color: var(--color-disabled);
      color: var(--color-disabled);
      cursor: default;
    }

    &.has-lesson {
      background-color: var(--color-gray);
      cursor: default;
    }
  }

  .time-value {
    font: var(--font-alumi-36-regular);
  }
}