:host {
  background-color: var(--color-background-primary);
  display: block;
  height: 100%;

  .salary-list {
    height: 100%;
  }

  .month-tabs {
    padding-bottom: var(--spacing-16);
  }

  .salary-list-content {
    position: relative;
  }

  .salary-list-item {
    border: 1px solid var(--color-border-primary);
    border-radius: 8px;
    cursor: pointer;
    padding: var(--spacing-8) var(--spacing-16) var(--spacing-16);
    margin-bottom:  var(--spacing-16);
  }

  .salary-info {
    flex-shrink: 0;
  }

  .salary-info-price-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--spacing-8);

  }

  .salary-info-title {
    font: var(--font-open-16-bold);
    padding-top: var(--spacing-8);
  }

  .salary-info-price-wrap {
    font: var(--font-open-16-regular);
  }

  .empty {
    height: 100%;
    padding-top: 120px;
  }
}