:host {
  //--ion-color-primary: #E5A344;
  padding-top: var(--sh-safe-area-top);
  padding-bottom: var(--sh-safe-area-bottom);

  ion-button {
    //--background: var(--ion-color-primary);
    --background-hover: transparent;
    --background-focused: transparent;
    --background-activated: transparent;
    --ripple-color: transparent;

    --color: #ffffff;
  }

  .login {
    height: 100vh;
  }

  .logo-wrap {
    height: 40vh;
    position: relative;
    width: 100%;

    &.focus {
      .logo {
        max-height: 100px;
        bottom: 10%;
      }
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    height: 100%;
    width: auto;
    max-height: 160px;
    transition: all 0.4s;
    will-change: bottom, max-height;
  }

  .name {
    background: transparent;
    outline: none;
    border: 0;
    color: var(--ion-color-primary);
    letter-spacing: 1px;
    font-size: 64px;
    line-height: 64px;
    margin-top: 44px;
    text-align: center;
    width: 100%;

    &.middle {
      font-size: 42px;
    }

    &.small {
      font-size: 32px;
    }
  }

  .send {
    display: block;
    font-size: 42px;
    margin: 32px auto 0;
    width: 70%;

    svg {
      path {
        stroke: #fff !important;
      }
    }

    &.button-clear.ion-activated {
      opacity: 1 !important;

      svg {
        path {
          stroke: var(--ion-color-primary) !important;
        }
      }
    }
  }
}

ion-input {
  --highlight-height: 0;
}
