:host {
  background-color: var(--color-background-primary);
  display: block;
  height: 100%;

  .teachers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .teachers-header {
    display: block;
    padding-bottom: var(--spacing-16);
  }

  .search-wrap {
    background-color: var(--color-background-primary);
    padding-bottom: 10px;
    font: var(--font-open-16-regular);

    .search {
      --min-height: 32px  !important;
      height: 32px  !important;

      ::ng-deep {
        ion-input {
          --padding-top: 0px;
          --padding-bottom: 6px;

          --min-height: 28px !important;
          min-height: 28px !important;
          height: 28px;
        }

        .input-wrapper {
          border-bottom: 1px solid var(--color-border-primary);
          --border-color: var(--color-border-primary);
        }
      }
    }
  }

  .teachers-info {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .title {
    color: var(--color-text-primary);
    font: var(--font-alumi-32-black);
    margin-bottom: var(--spacing-40);
  }

  .teachers-list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    padding-bottom: var(--spacing-20);
  }

  .teacher {
    border: 1px solid var(--color-border-primary);
    border-radius: 8px;
    padding: 0 var(--spacing-8);
  }
}