:root {
  --color-text-primary: #0C0C18;
  --color-text-secondary: #ffffff;
  --color-btn-primary-text: #ffffff;
  --color-btn-secondary-text: #0C0C18;
  --color-btn-bg-primary: #0C0C18;
  --color-btn-bg-secondary: #ffffff;
  --color-border-primary: #0C0C18;
  --color-border-primary-secondary: #ffffff;
  --color-border-secondary-rgb: 12, 12, 24;
  --color-background-primary: #ffffff;
  --color-background-secondary: #0C0C18;
  --color-red: #FF0000;
  --color-green: #00D660;
  --color-orange: #FF8C00;
  --color-gray: #6d6d74;
  --color-gray-ligth: #F2F2F7;
  --color-disabled: #9e9ea2;
  --color-no-reverse-black:  #0C0C18;
  --color-no-reverse-black-rgb: 12, 12, 24;
  --color-no-reverse-white:  #ffffff;
  --color-no-reverse-white-rgb:  255, 255, 255;
}