:root {
  --color-text-primary: #000000;
  --color-bnt-primary-text: #ffffff;
  --color-bnt-secondary-text: #000000;
  --color-bnt-bg-primary: #000000;
  --color-border-primary: #000000;
  --color-background-primary: #ffffff;
  --color-red: #ff0c0c;
  --color-gray: #6d6d74;
  --color-gray-ligth: #F2F2F7;
}