:root {
  --font-alumi-48-black: normal 900 48px/116.67% 'Alumni Sans SC', sans-serif;
  --font-alumi-40-regular: normal 400 40px/140% 'Alumni Sans SC', sans-serif;
  --font-alumi-36-regular: normal 400 36px/140% 'Alumni Sans SC', sans-serif;
  --font-alumi-32-regular: normal 400 32px/140% 'Alumni Sans SC', sans-serif;
  --font-alumi-32-bold: normal 700 32px/140% 'Alumni Sans SC', sans-serif;
  --font-alumi-32-black: normal 900 32px/100% 'Alumni Sans SC', sans-serif;
  --font-alumi-24-regular: normal 400 24px/140% 'Alumni Sans SC', sans-serif;
  --font-alumi-24-black: normal 900 24px/140% 'Alumni Sans SC', sans-serif;
  --font-alumi-20-regular: normal 400 20px/140% 'Alumni Sans SC', sans-serif;
  --font-alumi-20-bold: normal 700 20px/140% 'Alumni Sans SC', sans-serif;
  --font-alumi-20-black: normal 900 20px/140% 'Alumni Sans SC', sans-serif;
  --font-alumi-16-regular: normal 400 16px/140% 'Alumni Sans SC', sans-serif;
  --font-alumi-16-black: normal 900 16px/140% 'Alumni Sans SC', sans-serif;

  --font-open-16-regular: normal 400 16px/150% 'Open Sans', sans-serif;
  --font-open-13-regular: normal 400 13px/140% 'Open Sans', sans-serif;
  --font-open-12-regular: normal 400 12px/140% 'Open Sans', sans-serif;

  // spacing
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-40: 40px;
  --spacing-80: 80px;
}