<ion-content>
  <div class="login">
    @if (authStep() !== EAuthStep.Identifier) {
      <div class="back-container">
        <div class="back-wrap container">
          <div class="back" [innerHTML]="BACK_SVG" (click)="goToPrevStep()"></div>
        </div>
      </div>
    }

    <div class="logo-wrap">
      <div class="logo" [innerHTML]="LOGO_SVG"></div>
    </div>

    <div class="login-container container">
      @if (authStep() === EAuthStep.Identifier) {
        <ion-item>
          <ion-input
              fill="solid"
              class="name"
              type="text"
              inputmode="email"
              [maxlength]="64"
              [helperText]="' '"
              [value]="name()"
              [errorText]="checkUserFailure() ?? '' | translate"
              [placeholder]="'login.creative-name' | translate"
              [class.ion-touched]="!!checkUserFailure()"
              [class.ion-invalid]="!!checkUserFailure()"
              (ionInput)="changeName($event.detail.value ?? '')"
          ></ion-input>
        </ion-item>
      }

      @if (authStep() === EAuthStep.Password) {
        <ion-item>
          <ion-input
              fill="solid"
              class="name"
              type="password"
              [maxlength]="64"
              [helperText]="' '"
              [value]="password()"
              [errorText]="loginFailure() ?? '' | translate"
              [placeholder]="'login.password' | translate"
              [class.ion-touched]="!!loginFailure()"
              [class.ion-invalid]="!!loginFailure()"
              (ionInput)="inputPassword($event.detail.value ?? '')"
          >
            <ion-input-password-toggle
                noRipple
                slot="end"
                showIcon="my-eye-off"
                hideIcon="my-eye"
            />
          </ion-input>
        </ion-item>

        @if (!platform.is('capacitor')) {
          <ion-checkbox
              class="save-me"
              labelPlacement="end"
              cpCustomCheckbox
              (ionChange)="repeat.set($event.detail.checked)"
          >{{ "login.remember-me" | translate }}</ion-checkbox>
        }

        <div class="forgot-password-wrap">
          <div class="forgot-password" (click)="forgotPassword()">{{ "login.reset-password" | translate }}</div>
        </div>
      }

      @if (authStep() === EAuthStep.CreatePassword || authStep() === EAuthStep.ResetPassword) {
        <ion-item>
          <ion-input
              fill="solid"
              class="name"
              type="password"
              [maxlength]="64"
              [helperText]="' '"
              [errorText]="'errors.min-length-password' | translate"
              [class.ion-touched]="validateCreatePassword()"
              [class.ion-invalid]="validateCreatePassword()"
              [placeholder]="'login.new-password' | translate"
              (ionBlur)="checkValidatePassword(createPassword().password)"
              (ionInput)="changePassword(($event.detail.value) ?? '')"
          >
            <ion-input-password-toggle
                noRipple
                slot="end"
                showIcon="my-eye-off"
                hideIcon="my-eye"
            />
          </ion-input>
        </ion-item>

        @if (!platform.is('capacitor')) {
          <ion-checkbox
              cpCustomCheckbox
              class="save-me"
              labelPlacement="end"
              (ionChange)="repeat.set($event.detail.checked)"
          >{{ "login.remember-me" | translate }}</ion-checkbox>
        }
      }

      @if (authStep() === EAuthStep.ForgotPassword) {
        <ion-item>
          <ion-input
              fill="solid"
              class="name"
              type="email"
              [maxlength]="64"
              [helperText]="' '"
              [value]="email()"
              [errorText]="forgotPasswordFailure() ?? '' | translate"
              [placeholder]="'Email'"
              [class.ion-touched]="!!forgotPasswordFailure()"
              [class.ion-invalid]="!!forgotPasswordFailure()"
              (ionInput)="changeEmail($event.detail.value ?? '')"
          ></ion-input>
        </ion-item>
      }

      @if (authStep() === EAuthStep.CodeConfirm) {
        <ion-input-otp
            type="number"
            color="primary"
            shape="round"
            [length]="6"
            (ionInput)="changeCodeConfirm($event.detail.value ?? '')"
        >
          {{ "login.didnt-receive-code" | translate}}
          <span class="send-new-code" (click)="sendNewCode()">
            {{ "login.resend-code" | translate}}
          </span>
        </ion-input-otp>
      }

      <ion-button class="send" (click)="send()">{{ "login.continue" | translate }}</ion-button>
    </div>
  </div>

</ion-content>

