@use '../../../../../scss/mixins/app-padding' as *;
@use 'src/scss/mixins/_breakpoints.scss' as *;

:host {
  background-color: var(--color-background-primary);
  display: block;
  margin: 0;

  .login {
    padding-top: var(--cp-safe-area-top);
    padding-bottom: var(--cp-safe-area-bottom);
    height: 100%;
    position: relative;

    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .back-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: var(--cp-safe-area-top);
  }
  .back-wrap {
    position: relative;

    .back {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      margin-top: var(--spacing-16);
    }
  }

  .logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    width: 100%;
  }

  .logo {
    height: 136px;

    svg {
      fill: var(--color-text-primary);
      stroke: var(--color-text-primary);
    }
  }

  .login-container {
    padding-top: var(--spacing-80);
    padding-bottom: 48px;
  }

  .name {
    font: var(--font-open-16-regular);
    width: 100%;
  }

  .save-me {
    --size: 24px;
    margin-top: 4px;
    font: var(--font-open-16-regular);
    width: 100%;

    .label-text-wrapper {
      margin-inline-start: 12px;
    }
  }

  .forgot-password-wrap {
    font: var(--font-open-16-regular);
    padding-top: 24px;
    text-align: left;
    width: 100%;
  }

  .forgot-password {
    cursor: pointer;
    display: inline-block;
  }

  .input-otp-description {
    font: var(--font-open-13-regular);
  }

  .forgot {
    cursor: pointer;
    display: inline-block;
    font: var(--font-open-16-regular);
    padding: 6px 6px 6px 0;
  }

  .send {
    display: block;
    margin-top: 60px;
    width: 100%;
  }
}
