:host {
  align-items: center;
  background-color: var(--color-background-primary);

  .user-header {
    width: 100%;
  }

  .user-create-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    position: relative;
    height: 100%;
    padding-bottom: var(--cp-safe-area-bottom);
  }

  .user-create {
    flex: 1 1 auto;
  }

  .header-avatar {
    height: 50px;
    width: 50px;
  }

  .title {
    font: var(--font-alumi-32-bold);
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    padding-top: var(--spacing-40);
    height: 100%;
  }

  .input-list {
    padding-bottom: var(--spacing-20);
  }

  .select-teacher {
    height: 100%;
  }

  .add-teacher {
    cursor: pointer;
  }

  .btn-wrap-update {
    padding-top: var(--spacing-20);
    padding-bottom: var(--spacing-20);
  }

  .delete-user {
    cursor: pointer;
    margin: var(--spacing-20);
    text-align: center;
    font: var(--font-open-16-regular);
  }
}