<div class="user-create-content">
  <cp-header-secondary
      class="user-header container"
      [title]="userTitle() | translate"
      (close)="userFacade.close()"
  ></cp-header-secondary>

  <ion-content class="user-create">
    <form class="form container" [formRoot]="userForm" (ngSubmit)="onSubmit()">
      <ion-list class="input-list" lines="none">
        <ion-item>
          <ion-input
              fill="solid"
              type="email"
              placeholder="Email"
              [readonly]="isReadonly()"
              [value]="userForm.email().value()"
              [helperText]="' '"
              [errorText]="userForm.email().errors()[0]?.message ?? ' ' | translate"
              (ionInput)="userForm.email().value.set($any($event).detail.value)"
              (ionFocus)="ionFocus('email')"
              (ionBlur)="ionBlur('email')"
              [class.ion-touched]="isTouched('email')"
              [class.ion-invalid]="isTouched('email') && userForm.email().invalid()"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
              fill="solid"
              type="text"
              [readonly]="isReadonly()"
              [placeholder]="'profile.creative-name' | translate"
              [value]="userForm.creative_name().value()"
              [errorText]="userForm.creative_name().errors()[0]?.message ?? ' ' | translate"
              (ionInput)="userForm.creative_name().value.set($any($event).detail.value)"
              (ionFocus)="ionFocus('creative_name')"
              (ionBlur)="ionBlur('creative_name')"
              [class.ion-touched]="isTouched('creative_name')"
              [class.ion-invalid]="isTouched('creative_name') && userForm.creative_name().invalid()"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
              fill="solid"
              type="text"
              [readonly]="isReadonly()"
              [placeholder]="'profile.first-name' | translate"
              [value]="userForm.first_name().value()"
              [errorText]="userForm.first_name().errors()[0]?.message ?? ' ' | translate"
              (ionInput)="userForm.first_name().value.set($any($event).detail.value)"
              (ionFocus)="ionFocus('first_name')"
              (ionBlur)="ionBlur('first_name')"
              [class.ion-touched]="isTouched('first_name')"
              [class.ion-invalid]="isTouched('first_name') && userForm.first_name().invalid()"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
              fill="solid"
              type="text"
              [readonly]="isReadonly()"
              [placeholder]="'profile.last-name' | translate"
              [value]="userForm.last_name().value()"
              [errorText]="userForm.last_name().errors()[0]?.message ?? ' ' | translate"
              (ionInput)="userForm.last_name().value.set($any($event).detail.value)"
              (ionFocus)="ionFocus('last_name')"
              (ionBlur)="ionBlur('last_name')"
              [class.ion-touched]="isTouched('last_name')"
              [class.ion-invalid]="isTouched('last_name') && userForm.last_name().invalid()"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
              fill="solid"
              type="text"
              inputmode="tel"
              cpPhoneMask
              [readonly]="isReadonly()"
              [placeholder]="'profile.phone' | translate"
              [value]="userForm.phone().value()"
              [errorText]="userForm.phone().errors()[0]?.message ?? ' ' | translate"
              (ionInput)="userForm.phone().value.set($any($event).detail.value)"
              (ionFocus)="ionFocus('phone')"
              (ionBlur)="ionBlur('phone')"
              [class.ion-touched]="isTouched('phone')"
              [class.ion-invalid]="isTouched('phone') && userForm.phone().invalid()"
          ></ion-input>
        </ion-item>

        @if (userFacade.roleCreate() === eUserRole.Student) {
          @if (userFacade.isAdmin()) {
            @for (selectedTeacher of attachUser(); track selectedTeacher.id) {
              <ion-item>
                <cp-user-item [user]="selectedTeacher" [showDelete]="true" (delete)="deleteTeacher(selectedTeacher.id)"></cp-user-item>
              </ion-item>
            }

            <ion-item>
              <cp-user-item id="open-teachers-modal" class="add-teacher"></cp-user-item>
            </ion-item>

            <ion-modal id="teachers-modal" #modal trigger="open-teachers-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
              <ng-template>
                <cp-select-teacher class="select-teacher" [choseTeachers]="attachUser()" (save)="updateTeachers($event)" (close)="modal.dismiss()"></cp-select-teacher>
              </ng-template>
            </ion-modal>
          }
        }
      </ion-list>
      @if (!isReadonly()) {
        <div class="btn-wrap-update">
          <ion-button class="submit" (click)="onSubmit()">{{ "common.save" | translate }}</ion-button>

          @if (userFacade.isAdmin() || userFacade.isOwner()) {
            <div class="delete-user" id="open-delete-user-modal">видалити користувача</div>
          }
        </div>
      }
    </form>
  </ion-content>

  <cp-loader [isLoad]="!userFacade.userLoading()"></cp-loader>

  <ion-modal
      #deleteUserModal
      id="delete-modal"
      trigger="open-delete-user-modal"
      [initialBreakpoint]="initialBreakpoint"
      [breakpoints]="modalBreakpoints"
  >
    <ng-template>
      <cp-confirm-modal
          [title]="'profile.delete-title' | translate"
          [btnConfirm]="'profile.delete' | translate"
          [btnCansel]="'profile.no-delete' | translate"
          [isDelete]="true"
          (cansel)="deleteModalCansel()"
          (confirm)="userFacade.deleteUser()"
      ></cp-confirm-modal>
    </ng-template>
  </ion-modal>
</div>
