:host {
  height: 100%;
  background-color: var(--color-background-primary);

  .transferring-lesson {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .transferring-lesson-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    padding-bottom: 120px;
  }

  .lesson-date {
    font: var(--font-alumi-20-bold);
  }

  .student {
    padding: var(--spacing-16) 0 var(--spacing-40);
  }

  .cansel-btn,
  .transferring-btn {
    border: 1px solid var(--color-border-primary);
    border-radius: 8px;
    cursor: pointer;
    font: var(--font-alumi-40-regular);
    padding: 10px var(--spacing-16);
    margin-bottom: var(--spacing-24);
  }
}